/***************/
/* MEYER RESET */
/***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, dl {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**************/
/* BASE RULES */
/**************/
html {
  font-size: 18px;
}

body {
  font-family: "Spoqa Han Sans", "Source Sans Pro", "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", "Verdana", "Arial", "Dotum", sans-serif;
  color: #343a40;
  line-height: 1.6;
}

/**********/
/* COMMON */
/**********/

button {
  display: inline-block;
  border: 0;
  padding: 0;
  width: 70px;
  height: 40px;
  font-size: 14px;
  background: none;
  background-color: #ff9933;
  color: #fff;
}

button:disabled {
  background-color: #e0e0e0;
}

/**********/
/* LAYOUT */
/**********/

#wrapper {
  padding: 5px 0;
}

.header {
  position: relative;
  padding: 0 5px;
}

.header .inputTxt {
  border: 1px solid #e0e0e0;
  padding: 0 5px;
  width: 100%;
  height: 40px
}

.header .btnArea {
  margin-top: 5px;
  font-size: 0;
}

.header .btnArea button {
  margin-left: 1.25%;
  width: 24%;
}

.header .btnArea button:first-child {
  margin-left: 0;
}

.listFood {
  margin-top: 40px;
  width: 100%;
}

.listFood li {
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 5px;
  height: 40px;
  line-height: 38px;
  transition: .1s;
}

.listFood li:first-child {
  border-top: 1px solid #e0e0e0;
}

.listFood li.on {
  background-color: #ff9933;
  color: #fff;
}

.listFood li button {
  position: absolute;
  top: 4px;
  right: 5px;
  height: 30px
}

.listFood li.on button {
  background-color: #fff;
  color: #ff9933;
}

.question {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.question:before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}